body {
	background-color: #171a21;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: orange;
    padding: 7px;
    margin: 50px;
}

h1 {
    color: white;
    font-size: 23px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin: 150px;
    margin-top: 30px;
    background-color: white;
    padding: 50px;
}

p {
    color: #171a21;
}

h2 {
    background-color: #171a21;
    color: white;
    font-size: 13px;
    padding: 13px;
}

.btn-nextch {
    justify-content: center;
    display: flex;
    margin: 20px;
    gap: 100px;
}

h4 a {
    color: #171a21;
    text-decoration: none;
}

h4 a:hover {
    color: orange;
}